<app-navbar></app-navbar>
<div class="containers">
    <div class="title" style="width: 70%;">
      <h3>- Home -</h3>
    </div>
    <div class="title text-center" style="width: 70%;">
      <button type="button" class="btn btn-dark" data-bs-target="#addOffice" data-bs-toggle="modal">Add Hotel</button>
    </div>
    <div class="title" style="width: 70;">
        <div class="container-fluid">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
    </div>
  </div>
<hr>
  <div> </div>
  
<!--Room One-->  
  <div *ngFor="let hViewh of hotels"  class="container ">
    <div class="card"
      style="background-image: url('https://memoflores.com/fotos-de-hoteles-05.jpg'); max-height: 30%; cursor:pointer;">
      <div class="text">
        <h3 class="text-white mb-3">{{ hViewh.name}}  </h3>
        <p class="text-white">{{hViewh.address}}</p>
        <div class="position-absolute bottom-0 end-0 m-2">
          
          <svg style="margin-right: 7%; cursor: pointer; color: #fff;" xmlns="http://www.w3.org/2000/svg" width="35"
            height="35" fill="currentColor" class="bi bi-trash2-fill mb-1" viewBox="0 0 16 16">
            <path
              d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
          </svg>
  
          <svg style="margin-right: 2%; cursor: pointer; color: #fff" xmlns="http://www.w3.org/2000/svg" width="30"
            height="30" fill="currentColor" class="bi bi-pencil-fill mt-1" viewBox="0 0 16 16">
            <path
              d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
          </svg>
        </div>
      </div>
    </div>
  </div>


<!------------------- Modal -------------------->
  <div class="modal" id="addOffice">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Hotel</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">


                <form (ngSubmit)="saveHotels(saveForm)" #saveForm="ngForm">

<!--ContenidoModal-->
                    <div class="form-group">
                        <label for="nameOffice" class="form-label mt-4">Name</label>
                        <input [(ngModel)]="VwHotels.name" name="name" type="text" name="name" class="form-control" id="nameOffice"
                            aria-describedby="emailHelp" placeholder="Enter name Hotel">
                    </div>
                    <div class="form-group">
                      <label for="addressOffice" class="form-label mt-4">Description</label>
                      <input [(ngModel)]="VwHotels.description" name=" description" type="text" class="form-control" id="addressOffice"
                          name="address" placeholder="Enter address">
                  </div>
                    <div class="form-group">
                        <label for="addressOffice" class="form-label mt-4">Address</label>
                        <input [(ngModel)]="VwHotels.address" name="address"  type="text" class="form-control" id="addressOffice"
                            name="address" placeholder="Enter address">
                    </div>
<!--ContenidoModal-->

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"
                            data-bs-dismiss="modal">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>