<app-navbar></app-navbar>

<section class="vh-100 gradient-custom"
    style="background-image: url(../../../assets/img/cityBack.png); background-size: cover;">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration shadow-lg p-2 mb-4 bg-white rounded"
                    style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 ">Profile</h3>
                        <form>

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input name="name" placeholder="Name..." type="text" id="form3Example1m1"
                                            class="form-control" />
                                        <label class="form-label"> Name </label>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input name="typeOfCompany" placeholder="Username..." type="text"
                                            id="form3Example1m1" class="form-control" />
                                        <label class="form-label">Username</label>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input name="name" placeholder="Email..." type="text" id="form3Example1m1"
                                            class="form-control" />
                                        <label class="form-label">Email</label>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input name="typeOfCompany" placeholder="Details..." type="text"
                                            id="form3Example1m1" class="form-control" />
                                        <label class="form-label">Details</label>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <label name="role" type="text" id="form3Example1m1" class="form-control"
                                        disabled>Role</label>
                                    <label class="form-label">Role</label>
                                </div>
                            </div>

                            <br>

                            <div class="d-flex justify ">
                                <button type="button" class="btn btn-success m-2">Save</button>
                                <button type="button" class="btn btn-danger m-2">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>