<app-navbar></app-navbar>
<div class="container-title">
  <div class="events" style="width: 30%;">
    <h3>- Rooms -</h3>
    <button type="button" class="btn btn-dark" data-bs-target="#addRoom" data-bs-toggle="modal">Add Room</button>
  </div>

  <div class="events" style="width: 70%;">
    <h3>- Events -</h3>
    <button type="button" class="btn btn-dark">¡Check the events!</button>
  </div>
</div>

<div class="container">
  <div class="card" *ngFor="let r of roomsHotel"
    style="background-image: url('https://pbs.twimg.com/profile_images/1384138428648812545/995HUap6_400x400.jpg'); max-height: 30%; cursor:pointer;">
    <div class="text">
      <h3 class="text-white text-center mb-3 w-100 h-25">Room #{{r.roomNum}}</h3>
      <h5 class="text-white text-center mb-3 w-100 h-25">{{r.description}} {{r.available}} {{r.price}}</h5>
      <button type="button" class="btn btn-info w-25">Reserve</button>
      <div class="position-absolute bottom-0 end-0 m-2">
        <svg style="margin-right: 7%; cursor: pointer; color: #fff;" xmlns="http://www.w3.org/2000/svg" width="35"
          height="35" (click)="deleteRoom(r._id)" fill="currentColor" class="bi bi-trash2-fill mb-1"
          viewBox="0 0 16 16">
          <path
            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
        </svg>

        <svg style="margin-right: 2%; cursor: pointer; color: #fff" xmlns="http://www.w3.org/2000/svg" width="30"
          height="30" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" (click)="getRoom(r._id)"
          fill="currentColor" class="bi bi-pencil-fill mt-1" viewBox="0 0 16 16">
          <path
            d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
        </svg>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="addRoom">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Room</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">


        <form #addRoomForm="ngForm">

          <!--ContenidoModal-->
          <div class="form-group">
            <label for="roomNum" class="form-label mt-4">Number room:</label>
            <input [(ngModel)]="rooms.roomNum" name="num" type="text" class="form-control" id="roomNum"
              aria-describedby="emailHelp" placeholder="Enter number room" name="num">
          </div>
          <div class="form-group">
            <label for="descriptionRoom" class="form-label mt-4">Description:</label>
            <input [(ngModel)]="rooms.description" name="description" type="text" class="form-control"
              id="descriptionRoom" placeholder="Enter description" name="description">
          </div>
          <div class="form-group">
            <label for="price" class="form-label mt-4">Price:</label>
            <input [(ngModel)]="rooms.price" name="pr" type="text" class="form-control" id="price"
              placeholder="Enter price" name="pr">
          </div>
          <!--ContenidoModal-->
          <div class="modal-footer">
            <button type="submit" (click)="saveRoom(addRoomForm)" class="btn btn-primary" data-bs-dismiss="modal">Save
              changes</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-------------------------------------------OfCanvas Update --------------------------->
<div style="background-color: rgba(0, 0, 0, 0.817);" class="offcanvas offcanvas-start" data-bs-scroll="true"
  tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel" style="color: white;">- Updated Rooms-
    </h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <form *ngIf="roomsUpdate">
      <div class="form-group">
        <label for="numberR" class="form-label mt-4">Room number:</label>
        <input [(ngModel)]="roomsUpdate.roomNum" name="number" type="text" class="form-control" id="numberR"
          aria-describedby="emailHelp" placeholder="Enter new name">
      </div>
      <div class="form-group">
        <label for="descriptionR" class="form-label mt-4">Description:</label>
        <input [(ngModel)]="roomsUpdate.description" name="description" type="text" class="form-control" id="descriptionR"
          placeholder="Enter new address">
      </div>
      <div class="form-group">
        <label for="price" class="form-label mt-4">Price:</label>
        <input [(ngModel)]="roomsUpdate.price" name="pr" type="text" class="form-control" id="price"
          placeholder="Enter new address">
      </div>
      <div class="modal-footer">
        <button (click)="updateRooms()" type="submit" class="btn btn-primary"
          data-bs-dismiss="offcanvas">Update</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Cancel</button>
      </div>
    </form>
  </div>
</div>