<app-navbar></app-navbar>
<div class="container-title">
  <div class="events" style="width: 30%;">
    <h3>- Rooms -</h3>
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addRoom">Add Room</button>
  </div>

  <div class="events" style="width: 70%;">
    <h3>- Events -</h3>
    <button type="button" class="btn btn-dark">¡Check the events!</button>
  </div>
</div>

<div class="container">
  <div class="card" *ngFor="let r of rooms"
    style="background-image: url('https://pbs.twimg.com/profile_images/1384138428648812545/995HUap6_400x400.jpg'); max-height: 35%; min-height: 93%;cursor:pointer;">
    <div class="text">
      <h4 class="text-white mb-3 text-center">Room #{{r.roomNum}}</h4>
      <h6 class="text-white mb-3 text-center">Type: {{r.description}}</h6>
      <h6 class="text-white mb-3 text-center">Available: {{r.available}}</h6>
      <h6 class="text-white mb-3 text-center">Price: Q.{{r.price}}</h6>
      <button class="btn btn-info" style="max-width: 150px;" (click)="reserveRoom(r._id)">Reserve</button>
      <div class="position-absolute bottom-0 end-0 m-2">
        <svg style="margin-right: 7%; cursor: pointer; color: #fff;" xmlns="http://www.w3.org/2000/svg" width="35"
          height="35" fill="currentColor" class="bi bi-trash2-fill mb-1" viewBox="0 0 16 16">
          <path
            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
        </svg>

        <svg style="margin-right: 2%; cursor: pointer; color: #fff" xmlns="http://www.w3.org/2000/svg" width="30"
          height="30" fill="currentColor" class="bi bi-pencil-fill mt-1" viewBox="0 0 16 16">
          <path
            d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
        </svg>
      </div>
    </div>
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="addRoom" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addRoom="ngForm">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Room Number</label>
            <input [(ngModel)]="room.roomNum" name="roomNum" type="number" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Description</label>
            <input [(ngModel)]="room.description" name="description" type="text" class="form-control"
              placeholder="Description" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input [(ngModel)]="room.price" name="price" type="number" class="form-control" id="price">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveRoom(addRoom)">Save
          changes</button>
      </div>
    </div>
  </div>
</div>